--
-- Built with,
--
--        ,gggg,
--       d8" "8I                         ,dPYb,
--       88  ,dP                         IP'`Yb
--    8888888P"                          I8  8I
--       88                              I8  8'
--       88        gg      gg    ,g,     I8 dPgg,
--  ,aa,_88        I8      8I   ,8'8,    I8dP" "8I
-- dP" "88P        I8,    ,8I  ,8'  Yb   I8P    I8
-- Yb,_,d88b,,_   ,d8b,  ,d8b,,8'_   8) ,d8     I8,
--  "Y8P"  "Y888888P'"Y88P"`Y8P' "YY8P8P88P     `Y8
--

-- This is a starter colorscheme for use with Lush,
-- for usage guides, see :h lush or :LushRunTutorial

--
-- Note: Because this is a lua file, vim will append it to the runtime,
--       which means you can require(...) it in other lua code (this is useful),
--       but you should also take care not to conflict with other libraries.
--
--       (This is a lua quirk, as it has somewhat poor support for namespacing.)
--
--       Basically, name your file,
--
--       "super_theme/lua/lush_theme/super_theme_dark.lua",
--
--       not,
--
--       "super_theme/lua/dark.lua".
--
--       With that caveat out of the way...
--

-- Enable lush.ify on this file, run:
--
--  `:Lushify`
--
--  or
--
--  `:lua require('lush').ify()`

local lush = require('lush')
local hsl = lush.hsl

-- LSP/Linters mistakenly show `undefined global` errors in the spec, they may
-- support an annotation like the following. Consult your server documentation.
---@diagnostic disable: undefined-global
local theme = lush(function(injected_functions)
  local sym = injected_functions.sym

  -- Theme colors from template
  local colors = {
    surface = hsl("{{.Colors.Surface}}"),
    surface_variant = hsl("{{.Colors.SurfaceVariant}}"),
    surface_highlight = hsl("{{.Colors.SurfaceHighlight}}"),
    surface_border = hsl("{{.Colors.SurfaceBorder}}"),
    text_on_surface = hsl("{{.Colors.TextOnSurface}}"),
    text_on_surface_variant = hsl("{{.Colors.TextOnSurfaceVariant}}"),
    text_on_surface_muted = hsl("{{.Colors.TextOnSurfaceMuted}}"),
    text_on_surface_emphasis = hsl("{{.Colors.TextOnSurfaceEmphasis}}"),
    primary = hsl("{{.Colors.Primary}}"),
    primary_variant = hsl("{{.Colors.PrimaryVariant}}"),
    text_on_primary = hsl("{{.Colors.TextOnPrimary}}"),
    secondary = hsl("{{.Colors.Secondary}}"),
    text_on_secondary = hsl("{{.Colors.TextOnSecondary}}"),
    tertiary = hsl("{{.Colors.Tertiary}}"),
    tertiary_variant = hsl("{{.Colors.TertiaryVariant}}"),
    text_on_tertiary = hsl("{{.Colors.TextOnTertiary}}"),
    accent = hsl("{{.Colors.Accent}}"),
    accent_peach = hsl("{{.Colors.AccentPeach}}"),
    accent_salmon = hsl("{{.Colors.AccentSalmon}}"),
    accent_purple = hsl("{{.Colors.AccentPurple}}"),
    accent_lavender = hsl("{{.Colors.AccentLavender}}"),
    accent_gold = hsl("{{.Colors.AccentGold}}"),
    accent_yellow = hsl("{{.Colors.AccentYellow}}"),
    accent_mint = hsl("{{.Colors.AccentMint}}"),
    accent_blue = hsl("{{.Colors.AccentBlue}}"),
    error = hsl("{{.Colors.Error}}"),
    text_on_error = hsl("{{.Colors.TextOnError}}"),
    warning = hsl("{{.Colors.Warning}}"),
    text_on_warning = hsl("{{.Colors.TextOnWarning}}"),
    success = hsl("{{.Colors.Success}}"),
    text_on_success = hsl("{{.Colors.TextOnSuccess}}"),
    info = hsl("{{.Colors.Info}}"),
    text_on_info = hsl("{{.Colors.TextOnInfo}}"),
    selection = hsl("{{.Colors.Selection}}"),
    selection_foreground = hsl("{{.Colors.SelectionForeground}}"),
    cursor = hsl("{{.Colors.Cursor}}"),
    cursor_text = hsl("{{.Colors.CursorText}}"),
    link = hsl("{{.Colors.Link}}"),
    link_hover = hsl("{{.Colors.LinkHover}}"),
    comment = hsl("{{.Colors.Comment}}"),
  }

  return {
    -- The following are the Neovim (as of 0.8.0-dev+100-g371dfb174) highlight
    -- groups, mostly used for styling UI elements.
    -- Comment them out and add your own properties to override the defaults.
    -- An empty definition `{}` will clear all styling, leaving elements looking
    -- like the 'Normal' group.
    -- To be able to link to a group, it must already be defined, so you may have
    -- to reorder items as you go.
    --
    -- See :h highlight-groups
    --
    Normal         { bg = 'none', fg = colors.text_on_surface },
    NormalFloat    { bg = 'none', fg = colors.text_on_surface },
    FloatBorder    { fg = colors.surface_border },
    FloatTitle     { fg = colors.text_on_surface_emphasis, gui = "bold" },
    NormalNC       { bg = 'none', fg = colors.text_on_surface_muted },

    Cursor         { bg = colors.cursor, fg = colors.cursor_text },
    CurSearch      { bg = colors.accent, fg = colors.text_on_primary },
    lCursor        { Cursor },
    CursorIM       { Cursor },
    CursorLine     { bg = colors.surface_highlight },
    CursorColumn   { CursorLine },
    CursorLineNr   { fg = colors.text_on_surface_emphasis, gui = "bold" },
    CursorLineFold { CursorLine },
    CursorLineSign { CursorLine },

    ColorColumn    { bg = 'none' },
    Conceal        { fg = colors.text_on_surface_muted },

    LineNr         { fg = colors.text_on_surface_muted },
    LineNrAbove    { LineNr },
    LineNrBelow    { LineNr },
    SignColumn     { bg = 'none' },

    Folded         { bg = colors.surface_variant, fg = colors.text_on_surface_variant },
    FoldColumn     { fg = colors.text_on_surface_muted },

    VertSplit      { fg = colors.surface_border },
    Winseparator   { VertSplit },

    Pmenu          { bg = colors.surface_variant, fg = colors.text_on_surface },
    PmenuSel       { bg = colors.selection, fg = colors.selection_foreground, gui = "bold" },
    PmenuKind      { Pmenu },
    PmenuKindSel   { PmenuSel },
    PmenuExtra     { Pmenu, fg = colors.text_on_surface_muted },
    PmenuExtraSel  { PmenuSel },
    PmenuSbar      { bg = colors.surface_variant },
    PmenuThumb     { bg = colors.surface_border },

    StatusLine     { bg = colors.surface_variant, fg = colors.text_on_surface },
    StatusLineNC   { bg = 'none', fg = colors.text_on_surface_muted },
    TabLine        { bg = colors.surface_variant, fg = colors.text_on_surface_variant },
    TabLineFill    { bg = 'none' },
    TabLineSel     { bg = 'none', fg = colors.text_on_surface_emphasis, gui = "bold" },
    WinBar         { StatusLine },
    WinBarNC       { StatusLineNC },

    Visual         { bg = colors.selection, fg = colors.selection_foreground },
    VisualNOS      { Visual },

    Search         { bg = colors.accent_yellow, fg = colors.surface },
    IncSearch      { bg = colors.accent, fg = colors.text_on_primary, gui = "bold" },
    Substitute     { IncSearch },

    MatchParen     { bg = colors.accent_lavender, fg = colors.surface, gui = "bold" },

    Directory      { fg = colors.accent_blue },

    DiffAdd        { bg = colors.success.darken(60), fg = colors.success },
    DiffChange     { bg = colors.warning.darken(60), fg = colors.warning },
    DiffDelete     { bg = colors.error.darken(60), fg = colors.error },
    DiffText       { bg = colors.accent.darken(50), fg = colors.accent, gui = "bold" },

    ErrorMsg       { fg = colors.error, gui = "bold" },
    WarningMsg     { fg = colors.warning, gui = "bold" },
    ModeMsg        { fg = colors.text_on_surface_variant },
    MoreMsg        { fg = colors.accent_mint },
    Question       { fg = colors.accent_blue, gui = "bold" },

    Title          { fg = colors.primary, gui = "bold" },
    SpecialKey     { fg = colors.text_on_surface_muted },
    NonText        { fg = colors.text_on_surface_muted },
    EndOfBuffer    { NonText },
    Whitespace     { fg = colors.text_on_surface_muted },

    WildMenu       { PmenuSel },

    TermCursor     { Cursor },
    TermCursorNC   { bg = colors.text_on_surface_muted },

    SpellBad       { sp = colors.error, gui = "undercurl" },
    SpellCap       { sp = colors.warning, gui = "undercurl" },
    SpellLocal     { sp = colors.info, gui = "undercurl" },
    SpellRare      { sp = colors.accent_purple, gui = "undercurl" },

    MsgArea        { Normal },
    MsgSeparator   { fg = colors.surface_border },

    -- Common vim syntax groups used for all kinds of code and markup.
    -- Commented-out groups should chain up to their preferred (*) group
    -- by default.
    --
    -- See :h group-name
    --
    -- Uncomment and edit if you want more specific syntax highlighting.

    Comment        { fg = colors.comment, gui = "italic" },

    Constant       { fg = colors.accent_peach },
    String         { fg = colors.accent_mint },
    Character      { fg = colors.accent_gold },
    Number         { fg = colors.accent_salmon },
    Boolean        { fg = colors.accent_purple },
    Float          { Number },

    Identifier     { fg = colors.text_on_surface },
    Function       { fg = colors.accent_blue, gui = "bold" },

    Statement      { fg = colors.primary, gui = "bold" },
    Conditional    { Statement },
    Repeat         { Statement },
    Label          { fg = colors.primary_variant },
    Operator       { fg = colors.text_on_surface_variant },
    Keyword        { fg = colors.tertiary, gui = "bold" },
    Exception      { fg = colors.error, gui = "bold" },

    PreProc        { fg = colors.accent_lavender },
    Include        { PreProc },
    Define         { PreProc },
    Macro          { PreProc },
    PreCondit      { PreProc },

    Type           { fg = colors.secondary, gui = "bold" },
    StorageClass   { Type },
    Structure      { Type },
    Typedef        { Type },

    Special        { fg = colors.accent },
    SpecialChar    { fg = colors.accent_gold },
    Tag            { fg = colors.tertiary_variant },
    Delimiter      { fg = colors.text_on_surface_variant },
    SpecialComment { fg = colors.comment.lighten(20), gui = "italic,bold" },
    Debug          { fg = colors.warning },

    Underlined     { fg = colors.link, gui = "underline" },
    Ignore         { fg = colors.text_on_surface_muted },
    Error          { fg = colors.error, bg = colors.error.darken(70), gui = "bold" },
    Todo           { fg = colors.accent_yellow, bg = colors.accent_yellow.darken(70), gui = "bold" },

    -- These groups are for the native LSP client and diagnostic system. Some
    -- other LSP clients may use these groups, or use their own. Consult your
    -- LSP client's documentation.

    -- See :h lsp-highlight, some groups may not be listed, submit a PR fix to lush-template!
    --
    LspReferenceText            { bg = colors.surface_highlight },
    LspReferenceRead            { LspReferenceText },
    LspReferenceWrite           { LspReferenceText, gui = "bold" },
    LspCodeLens                 { fg = colors.text_on_surface_muted, gui = "italic" },
    LspCodeLensSeparator        { fg = colors.surface_border },
    LspSignatureActiveParameter { bg = colors.selection, gui = "bold" },

    -- See :h diagnostic-highlights, some groups may not be listed, submit a PR fix to lush-template!
    --
    DiagnosticError            { fg = colors.error },
    DiagnosticWarn             { fg = colors.warning },
    DiagnosticInfo             { fg = colors.info },
    DiagnosticHint             { fg = colors.text_on_surface_variant },
    DiagnosticOk               { fg = colors.success },
    DiagnosticVirtualTextError { DiagnosticError, bg = colors.error.darken(70) },
    DiagnosticVirtualTextWarn  { DiagnosticWarn, bg = colors.warning.darken(70) },
    DiagnosticVirtualTextInfo  { DiagnosticInfo, bg = colors.info.darken(70) },
    DiagnosticVirtualTextHint  { DiagnosticHint, bg = colors.surface_variant },
    DiagnosticVirtualTextOk    { DiagnosticOk, bg = colors.success.darken(70) },
    DiagnosticUnderlineError   { sp = colors.error, gui = "undercurl" },
    DiagnosticUnderlineWarn    { sp = colors.warning, gui = "undercurl" },
    DiagnosticUnderlineInfo    { sp = colors.info, gui = "undercurl" },
    DiagnosticUnderlineHint    { sp = colors.text_on_surface_variant, gui = "undercurl" },
    DiagnosticUnderlineOk      { sp = colors.success, gui = "undercurl" },
    DiagnosticFloatingError    { DiagnosticError },
    DiagnosticFloatingWarn     { DiagnosticWarn },
    DiagnosticFloatingInfo     { DiagnosticInfo },
    DiagnosticFloatingHint     { DiagnosticHint },
    DiagnosticFloatingOk       { DiagnosticOk },
    DiagnosticSignError        { DiagnosticError },
    DiagnosticSignWarn         { DiagnosticWarn },
    DiagnosticSignInfo         { DiagnosticInfo },
    DiagnosticSignHint         { DiagnosticHint },
    DiagnosticSignOk           { DiagnosticOk },

    -- NeoTree
    NeoTreeDirectoryName       { fg=colors.text_on_surface_variant},
    NeoTreeDirectoryIcon       { fg=colors.text_on_surface_variant},
    NeoTreeFileIcon            { fg=colors.text_on_surface_muted},
    NeoTreeFileName            { fg=colors.text_on_surface_muted},
    NeoTreeFileNameOpened            { fg=colors.text_on_surface_emphasis},
    NeoTreeCursorLine                     { fg=colors.text_on_surface_emphasis, bg = colors.surface_highlight},

    -- Tree-Sitter syntax groups.
    --
    -- See :h treesitter-highlight-groups, some groups may not be listed,
    -- submit a PR fix to lush-template!
    --
    -- Tree-Sitter groups are defined with an "@" symbol, which must be
    -- specially handled to be valid lua code, we do this via the special
    -- sym function. The following are all valid ways to call the sym function,
    -- for more details see https://www.lua.org/pil/5.html
    --
    -- sym("@text.literal")
    -- sym('@text.literal')
    -- sym"@text.literal"
    -- sym'@text.literal'
    --
    -- For more information see https://github.com/rktjmp/lush.nvim/issues/109

    sym"@text.literal"      { String },
    sym"@text.reference"    { Identifier },
    sym"@text.title"        { Title },
    sym"@text.uri"          { Underlined },
    sym"@text.underline"    { Underlined },
    sym"@text.todo"         { Todo },
    sym"@comment"           { Comment },
    sym"@punctuation"       { Delimiter },
    sym"@constant"          { Constant },
    sym"@constant.builtin"  { Special },
    sym"@constant.macro"    { Define },
    sym"@define"            { Define },
    sym"@macro"             { Macro },
    sym"@string"            { String },
    sym"@string.escape"     { SpecialChar },
    sym"@string.special"    { SpecialChar },
    sym"@character"         { Character },
    sym"@character.special" { SpecialChar },
    sym"@number"            { Number },
    sym"@boolean"           { Boolean },
    sym"@float"             { Float },
    sym"@function"          { Function },
    sym"@function.builtin"  { Special },
    sym"@function.macro"    { Macro },
    sym"@parameter"         { fg = colors.text_on_surface_emphasis },
    sym"@method"            { Function },
    sym"@field"             { fg = colors.accent_peach },
    sym"@property"          { fg = colors.accent_peach },
    sym"@constructor"       { Special },
    sym"@conditional"       { Conditional },
    sym"@repeat"            { Repeat },
    sym"@label"             { Label },
    sym"@operator"          { Operator },
    sym"@keyword"           { Keyword },
    sym"@exception"         { Exception },
    sym"@variable"          { Identifier },
    sym"@type"              { Type },
    sym"@type.definition"   { Typedef },
    sym"@storageclass"      { StorageClass },
    sym"@structure"         { Structure },
    sym"@namespace"         { fg = colors.tertiary },
    sym"@include"           { Include },
    sym"@preproc"           { PreProc },
    sym"@debug"             { Debug },
    sym"@tag"               { Tag },
  }
end)

-- Return our parsed theme for extension or use elsewhere.
return theme

-- vi:nowrap

