foreground               {{.Colors.TextOnSurface}}
background               {{.Colors.Surface}}
selection_foreground     {{.Colors.SelectionForeground}}
selection_background     {{.Colors.Selection}}

cursor                   {{.Colors.Cursor}}
cursor_text_color        {{.Colors.CursorText}}

url_color                {{.Colors.Link}}

active_tab_foreground    {{.Colors.TextOnSurface}}
active_tab_background    {{.Colors.Surface}}
inactive_tab_foreground  {{.Colors.TextOnSurfaceMuted}}
inactive_tab_background  {{.Colors.SurfaceVariant}}

active_border_color      {{.Colors.Primary}}
inactive_border_color    {{.Colors.SurfaceBorder}}

# black
color0   {{.Colors.TextOnSurfaceMuted}}
color8   {{.Colors.TextOnSurfaceVariant}}

# red
color1   {{.Colors.AccentSalmon}}
color9   {{.Colors.Primary}}

# green
color2   {{.Colors.AccentMint}}
color10  {{.Colors.AccentMint}}

# yellow
color3   {{.Colors.AccentYellow}}
color11  {{.Colors.AccentGold}}

# blue
color4   {{.Colors.AccentBlue}}
color12  {{.Colors.AccentBlue}}

# magenta
color5   {{.Colors.AccentPurple}}
color13  {{.Colors.AccentLavender}}

# cyan
color6   {{.Colors.AccentMint}}
color14  {{.Colors.AccentMint}}

# white
color7   {{.Colors.TextOnSurface}}
color15  {{.Colors.TextOnSurfaceEmphasis}}