scrollback_lines  10000
enable_audio_bell  false
background_opacity .{{.Styles.WindowOpacity}}
background_blur  48
window_padding_width 4 8 0 8
hide_window_decorations  titlebar-only

allow_remote_control  true
confirm_os_window_close  0

# cursor
cursor_shape  underline
cursor_trail  0
cursor_blink_interval  0

# tabs
tab_bar_edge  top
tab_bar_align  left
tab_powerline_style  slanted
active_tab_font_style  italic
tab_title_template  [{index}] {title}
active_tab_title_template  [{index}] {title}

# font
font_size 14.0
font_family SF Mono Regular
bold_font SF Mono Bold
italic_font SF Mono Regular Italic
bold_italic_font SF Mono Bold Italic

# shell
shell_integration  enabled

open_url_with  default
mouse_map  ctrl+left press grabbed,ungrabbed mouse_handle_click link
map cmd+k no_op
map cmd+b send_text all \x1bb
map cmd+p send_text all \x1bp

include colors.conf

