#!/usr/bin/env zsh

export BAR_COLOR="{{.BarColor}}"
export BAR_BORDER_COLOR="{{.BarBorderColor}}"

export ICON_COLOR="{{.IconColor}}"
export ICON_HIGHLIGHT_COLOR="{{.IconHighlightColor}}"
export LABEL_COLOR="{{.LabelColor}}"
export LABEL_HIGHLIGHT_COLOR="{{.LabelHighlightColor}}"

export POPUP_BORDER_COLOR="{{.PopupBorderColor}}"
export POPUP_BACKGROUND_COLOR="{{.PopupBackgroundColor}}"

export ACTIVE_WORKSPACE_COLOR="{{.ActiveWorkspaceColor}}"

export SPACES_WRAPPER_BACKGROUND="{{.SpacesWrapperBackground}}"
export SPACES_ITEM_BACKGROUND="{{.SpacesItemBackground}}"

