keybinds clear-defaults=true {
  locked {
    bind "Ctrl g" { SwitchToMode "normal"; }
  }

  shared_except "locked" {
    bind "Ctrl g" { SwitchToMode "locked"; }
    bind "Ctrl q" { Quit; }

    bind "Ctrl h" {
      MessagePlugin "vim" {
        name "move_focus_or_tab"
        payload "left"
      }
    }
    bind "Ctrl l" {
      MessagePlugin "vim" {
        name "move_focus_or_tab"
        payload "right"
      }
    }
    bind "Ctrl j" {
      MessagePlugin "vim" {
        name "move_focus_or_tab"
        payload "down"
      }
    }
    bind "Ctrl k" {
      MessagePlugin "vim" {
        name "move_focus_or_tab"
        payload "up"
      }
    }
  }

  shared_except "locked" "pane" {
    bind "Ctrl p" { SwitchToMode "pane"; }
  }

  pane {
    bind "d" { NewPane; SwitchToMode "normal"; }
    bind "x" { CloseFocus; SwitchToMode "normal"; }
  }

  shared_except "locked" "tab" {
    bind "Ctrl b" { SwitchToMode "tab"; }
  }

  tab {
    bind "n" { NewTab; SwitchToMode "normal"; }
    bind "h" { GoToPreviousTab; SwitchToMode "normal"; }
    bind "l" { GoToNextTab; SwitchToMode "normal"; }
    bind "r" { SwitchToMode "renametab"; TabNameInput 0; }
    bind "x" { CloseTab; SwitchToMode "normal"; }
  }

  shared_among "renametab" "renamepane" {
    bind "Ctrl c" { SwitchToMode "normal"; }
    bind "Enter" { SwitchToMode "normal"; }
  }

  shared_except "normal" "locked" "entersearch" "renametab" "renamepane" {
    bind "esc" { SwitchToMode "normal"; }
  }
}

plugins {
  about location="zellij:about"
  compact-bar location="zellij:compact-bar"
  configuration location="zellij:configuration"
  filepicker location="zellij:strider" {
    cwd "/"
  }
  plugin-manager location="zellij:plugin-manager"
  session-manager location="zellij:session-manager"
  status-bar location="zellij:status-bar"
  strider location="zellij:strider"
  tab-bar location="zellij:tab-bar"
  welcome-screen location="zellij:session-manager" {
    welcome_screen true
  }

  vim location="https://github.com/hiasr/vim-zellij-navigator/releases/download/0.3.0/vim-zellij-navigator.wasm"
  zjstatus location="https://github.com/dj95/zjstatus/releases/download/v0.21.0/zjstatus.wasm"
}

load_plugins {
  https://github.com/hiasr/vim-zellij-navigator/releases/download/0.3.0/vim-zellij-navigator.wasm
  https://github.com/dj95/zjstatus/releases/download/v0.21.0/zjstatus.wasm
}

theme "rose-pine-moon"

default_mode "normal"

serialization_interval 30

show_startup_tips false
support_kitty_keyboard_protocol true

